/* Global CSS */
body {
    background: url(../media/images/main-cover.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

a {
    transition: 0.3s;
}

a:hover {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.title {
    font-weight: 600;
}

.shadow-section {
    -webkit-box-shadow: 0px -7px 15px 1px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 0px -7px 15px 1px rgba(0, 0, 0, 0.86);
    box-shadow: 0px -7px 15px 1px rgba(0, 0, 0, 0.86);
}

#to-the-top-button {
    opacity: 0.4;
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    transition: 0.3s;
}

#to-the-top-button:hover {
    opacity: 1;
    transition: 0.3s;
}

.border-orange {
    /* used for profile picture */
    border: 2px solid #f3cf55;
}

.orange-title {
    color: #f3cf55;
}


/* Navigation bar */
.navbar ul li a {
    display: block;
    color: #f3cf55;
    text-decoration: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* Section added to prevent image becoming blurry on scaling. Snippet taken from StackOverflow */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: 0.4s;
}

.navbar div ul li a:hover {
    transition: 0.4s;
    text-shadow: 1px -1px 5px rgb(255, 217, 0);
    font-weight: bold;
}

.navigation-bar {
    background-color: #2a2a2a;
}

#menu-button {
    color: #f3cf55;
}


/* Landing page */
#section-landing {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/images/landing-cover.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#main-title {
    color: whitesmoke;
}

#dublin {
    color: rgb(91, 206, 91);
}


/* About me section*/
#section-aboutme {
    color: whitesmoke;
}

#cv-link a {
    color: #2a2a2a;
}

#education-column {
    background-color: #808080;
}

#experience-column {
    background-color: #777777;
}

#hobbies-column {
    background-color: #656565;
}

#cv-column {
    color: #2f4f4f;
    background-color: whitesmoke;
}

.sectionMain {
    height: 99vh;
    border-bottom: 2px solid black;
}


/* Past projects section */
#section-projects {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/images/projects-cover.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#section-projects a:hover {
    color: white;
}


/*Skills, software and tools section*/
#section-skills {
    background-color: #d3d3d3;
    color: #2f4f4f;
}

.tools-icon {
    transition: 0.4s;
}

.tools-icon:hover {
    color: black;
    transition: 0.4s;
}

.shadowy-boi {
    /* Used to add the shadow effect on the progress bar */
    -webkit-box-shadow: 6px -4px 14px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px -4px 14px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px -4px 14px -5px rgba(0, 0, 0, 0.75);
}

.progress-bar-black {
    background-color: #2f4f4f;
}


/* Contact section */
#section-contact {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/images/contact-cover.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#section-contact a span {
    transition: 0.3s;
}

#section-contact a span:hover {
    color: white;
    transition: 0.3s;
}

#send-button {
    border: 1px solid #f3cf55;
    background-color: #2a2a2a;
    color: #f3cf55;
    transition: 0.4s;
}

#send-button:hover {
    border: 1px solid #2a2a2a;
    background-color: #f3cf55;
    color: #2a2a2a;
}

input:invalid {
    border: 2px solid rgb(255, 101, 81);
}

input:valid {
    border: 2px solid rgb(161, 235, 25);
}


/* Footer section */
#footer {
    background-color: #2a2a2a;
    color: #f3cf55;
    border: 0;
}

#footer a {
    color: #f3cf55;
    transition: 0.4s;
}

#footer a:hover {
    color: white;
    transition: 0.4s;
}


/* Custom media queries */
/* Using the same breaking points as Bootstrap 4 */


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #section-projects {
        height: 100vh;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #section-projects {
        height: 90vh;
    }
    .navbar div ul li a:hover {
        transform: scale(1.3);
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #section-projects {
        height: 70vh;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #section-projects {
        height: 65vh;
        /* Added custom height for the section project due to content changing dinamically, which
        forced the whole section to move upwards, depending on the size of the content */
    }
}