/* Global CSS */

main {
  background: url(../media/images/main-cover.png) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section {
  -webkit-box-shadow: 9px -8px 18px -9px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 9px -8px 18px -9px rgba(0, 0, 0, 0.85);
  box-shadow: 9px -8px 18px -9px rgba(0, 0, 0, 0.85);
}

/* Navigation bar */
.navigation-bar {
  background-color: #2a2a2a;
}

#menu-button {
  color: lightgrey;
}

/* Landing page */

#section-landing {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../media/images/landing-cover.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#main-title {
  color: whitesmoke;
}

.border-orange {
  border: 2px solid #f3cf55;
}

.skills-icon {
  color: #2f4f4f;
}

.shadowy-boi {
  -webkit-box-shadow: 6px -4px 14px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px -4px 14px -5px rgba(0,0,0,0.75);
  box-shadow: 6px -4px 14px -5px rgba(0,0,0,0.75);
}

.orange-title {
  color: #f3cf55;
}


.progress-bar-black {
  background-color: #2f4f4f;
}


/* About me section styling */
#education-column {
  background-color: #808080;
  color: whitesmoke;
}
#experience-column {
  background-color: #777777;
  color: whitesmoke;
}

#hobbies-column {
  background-color: #656565;
  color: whitesmoke;
}

#cv-column {
  background-color: whitesmoke;
}
.sectionMain {
  height: 99vh;
  border-bottom: 2px solid black;
}

.profile-picture {
  -webkit-box-shadow: 9px -8px 18px -9px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 9px -8px 18px -9px rgba(0, 0, 0, 0.85);
  box-shadow: 9px -8px 18px -9px rgba(0, 0, 0, 1);
}

.maxsize {
  width: 100%;
}


/* Individual styling for each section */



#section-about {
  background-color: yellowgreen;
}

#section-projects {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../media/images/projects-cover.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

#section-skills {
  background-color: #d3d3d3;
  color: #2f4f4f;
}

#section-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../media/images/contact-cover.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  /* height: 70vh;*/
}
.progress-bar-project {
  max-width: 100%;
}

.difficulty-easy {
  background-color: ghostwhite;
  color: grey;
}
